<!-- start client area -->
<div class="client-section section-padding pt0">
    <div class="container">
        {% if site.data.logos %}
        <div class="tp-owl-carousel owl-carousel owl-theme" data-loop="true" data-items="1" data-margin="0"
                    data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800"
                    data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1"
                    data-mobile-device-nav="false" data-mobile-device-dots="false" data-sm-device="1" data-sm-device-nav="false"
                    data-sm-device-dots="false" data-sm-device2="1" data-sm-device2-nav="false" data-sm-device2-dots="false"
                    data-md-device="1" data-md-device-nav="false" data-md-device-dots="false" data-lg-device="4"
                    data-lg-device-dots="false" data-lg-device-nav="false">
            {% for logo in site.data.logos %}
            <div class="single-client">
                <a href="{{ logo.link }}">
                    <img src="{{ logo.image }}" alt="{{ logo.brand_name }}">
                </a>
            </div>
            {% endfor %}
        </div><!-- end client slider -->
        {% endif %}
    </div><!--  ./container  -->
</div><!-- end client area -->