 <!-- contact section -->
 <section class="section-padding tp-contact-section">
    <div class="container">
        <div class="row justify-content-between align-items-center gutter-40">
            <div class="col-md-4">
                <div class="block-content">
                   <ul class="address gutter-30">
                        <li class="address-item">
                            <i class="micon fas fa-map-marker-alt"></i>
                            <div class="address">
                                <h3>Our Address</h3>
                                <p> 27 Division St, New York, NY  <br>
                                    10002, USA
                                </p>
                            </div>
                        </li>
                        <li class="address-item">
                            <i class="micon fas fa-envelope-open"></i>
                            <div class="address">
                                <h3>Our Mail</h3>
                                <p> contanct@domain.com </p>
                            </div>
                        </li>
                        <li class="address-item">
                            <i class="micon fas fa-phone-alt"></i>
                            <div class="address">
                                <h3>Phone Number</h3>
                                <p> +8 (123) 985 789 </p>
                            </div>
                        </li>
                   </ul>
                </div>
            </div><!-- end col -->
            <div class="col-md-7">
                <div class="contact-form">
                    <div class="contact-form-heading">
                        <h2 class="block-heading">Send A Message</h2>
                        <div class="gap"></div>
                    </div>
                    <form class="tp-form p-0 tp-form-secondary" action="https://formspree.io/f/xoqreegk" method="POST">
                        <div class="row gutter-30">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="cf_name" class="minput form-control required" placeholder="Full Name" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" name="cf_email" class="minput form-control required" placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea name="cf_msg" class="minput form-control form-message required" rows="3" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-12 mt-20">
                                <button type="submit" class="btn btn-primary">
                                   Leave A Comment
                                </button>
                            </div>
                        </div>                        
                    </form>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!-- End  contact -->
<section class="section-padding pt-0">
    <div style="width: 100%">
        <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/sport-gps/">bike gps</a></iframe>
    </div>
</section>
<!-- start cta 2 -->