<!-- start cta 2 -->
<section class="cta section-padding pt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="cta-block">
                    <h2 class="block-title">
                        Try Mappix For 7 Days Free
                    </h2>
                <div class="desc">
                    <p>
                        No card required. available for all devices
                    </p>
                </div>
                <a href="{{site.baseurl}}/contact/" class="btn btn-light">Get Started Now</a>
                </div>
            </div><!--  ./col -->
        </div><!-- ./row -->
    </div><!--  ./container  -->
</section><!-- end cta 2 -->