<!-- overview section -->
<section class="section-padding">
    <div class="container">
       <div class="row">
          <div class="col-lg-6">
             <div class="block-content">
                <h2 class="block-heading">
                   <span class="sub-heading">Collaboartion</span>
                   <strong>Create your <br> highly-engaged, high performance</strong>
                </h2>
                <p class="block-desc">
                   No more switching between apps to get your daily industry news updates. Vincent eliminates
                </p>
                <div class="gap"></div>
                <ul class="list list-image">
                   <li>
                      <div class="icon">
                         <img src="assets/images/user-icon.png" alt="">
                      </div>
                     <strong>Management Tools</strong>
                   </li>
                   <li>
                      <div class="icon">
                         <img src="assets/images/data-icon.png" alt="">
                      </div>
                     <strong>Customer Data</strong>
                   </li>
                   <li>
                      <div class="icon">
                         <img src="assets/images/layer-icon.png" alt="">
                      </div>
                     <strong>App Integrations</strong>
                   </li>
                </ul>
             </div>
          </div><!-- ./col -->
       </div><!-- ./row -->
    </div><!-- ./container -->
    <div class="imagebg bg-right d-none d-lg-block" style="background-image: url(assets/images/overview-1.png);"></div>
</section> <!-- end overview -->

<!-- overview section -->
<section class="section section-padding">
    <div class="container">
       <div class="row gutter-30 align-items-center">
          <div class="col-md-6">
             <div class="block-image overview-image">
                <img src="assets/images/overview-2.png" alt="">
             </div>
          </div>
          <div class="col-lg-6">
             <div class="block-content">
                <h2 class="block-heading">
                   <span class="sub-heading">Planning</span>
                   <strong>Track sales and goals automatically to see precisely</strong>
                </h2>
                <div class="gap"></div>
                <ul class="list list-icon">
                   <li>
                      <div class="icon">
                         <i class="fas fa-check"></i>
                      </div>
                      <span>
                         <strong class="fw-500">Show off your goods</strong> in elegant product cards and make more sales while chatting
                      </span>
                   </li>
                   <li>
                      <div class="icon">
                         <i class="fas fa-check"></i>
                      </div>
                     <span><strong class="fw-500">Qualify leads</strong> with custom forms and AI chatbot automations </span>
                   </li>
                </ul>
             </div>
          </div><!-- ./col -->
       </div><!-- ./row -->
    </div><!-- ./container -->
</section><!-- end overview -->