<!-- counter section -->
<section class="counterup-area">
    <div class="container">
       <div class="row align-items-center gutter-30 text-center">
          <div class="col-md-3">
             <div class="counter vertical-devider">
                <h3 class="count">
                   <span class="counterUp" data-counter="89">13</span>m
                </h3>
                <p class="count-title">Total Downloads</p>
             </div>

          </div><!--  ./col -->

          <div class="col-md-3">
             <div class="counter counter-left">
                <h3 class="count">
                   <span class="counterUp" data-counter="43">106</span>K
                </h3>
                <p class="count-title">Worldwide Customers</p>
             </div>
          </div><!--  ./col -->

          <div class="col-md-6">
             <div class="test-content">
                <p class="test-text text-center test-title mb-4">
                   Mappix has revolutionized the way I’m conducting discovery
                </p>
                <div class="text-center md:d-flex justify-content-center">
                   <div class="test-img">
                      <img src="assets/images/test-1-img.png" alt="">
                   </div>
                   <h4 class="author-info">
                      Mark Hadinson
                      <span>/</span>
                      <span class="name">Mappix</span>
                   </h4>
                </div>

             </div>

          </div><!--  ./col -->
       </div><!-- ./row -->
    </div><!--  ./container  -->
</section>
<!-- counter section -->