<!-- section feature -->
<section class="platform-section pt-0">
    <div class="container">
       <div class="row gutter-30">
          <div class="col-md-12 text-center">
             <div class="section-heading heading-bg bg-primary-light">
                <div class="dot-shape">
                   <img src="assets/images/dots-shape.png" alt="">
                </div><!-- dot shape -->
                <div class="rect-shape">
                   <img src="assets/images/rect-shape.png" alt="">
                </div><!-- rect-shape -->
                <h2 class="block-heading">
                   <span class="sub-heading">What This App Do</span>
                   <strong>A complete <span class="highlight">Platform</span></strong>
                </h2>
             </div>
          </div>
            {% if site.data.features %}
                {% for feature in site.data.features %}
                <div class="col-md-6 col-lg-3 platform-item">
                    <div class="content-box">
                        <div class="icon mb-3">
                            <img alt="{{ feature.title }}" src="{{ feature.image | relative_url }}" />
                        </div>
                        <h3 class="box-title mb-3">
                            {{ feature.title }}
                        </h3>
                        <p>{{ feature.description }}</p>
                    </div>
                </div>
                {% endfor %}   
            {% endif %}
       </div>
    </div>
</section>
<!-- section end -->